<h1>Список работников</h1>

<table>
  <thead>
  <tr>
    <th colspan="3"></th>
  </tr>
  </thead>

  <div class="row">
    <div class="col-md-12">
      <div class="list-group">
        <% @employees.each do |employee| %>
            <a href="employees/<%= employee.id %>" class="list-group-item row">
              <div class="col-md-6"><%= employee.name %></div>
              <div class="col-md-6 text-right"><%= employee.salary %> руб.</div>
            </a>
        <% end %>
      </div>
    </div>
  </div>
</table>

<br>

<%= link_to 'Новый работник', new_employee_path, class: 'btn btn-primary' %>
