<h1>Список вакансий</h1>

<table>
  <thead>
  <tr>
    <th colspan="3"></th>
  </tr>
  </thead>

  <div class="row">
    <div class="col-md-12">
      <div class="list-group">
        <% @vacancies.each do |vacancy| %>
            <a href="vacancies/<%= vacancy.id %>" class="list-group-item row">
              <div class="col-md-6"><%= vacancy.name %></div>
              <div class="col-md-6 text-right"><%= vacancy.salary %> руб.</div>
            </a>
        <% end %>
      </div>
    </div>
  </div>
</table>

<br>

<%= link_to 'Новая вакансия', new_vacancy_path %>
